# BÁSICO
.env
*.exe
*.log
*.out
*.tmp
*.bak

# GO
/go.sum
/bin/
/build/
/dist/
/vendor/
*.test

# Node.js
node_modules/
package-lock.json

# TOKENS (venom)
tokens/
venom/session*

# SISTEMA
.DS_Store
*.swp
*.swo
*.~*

# IDEs
.vscode/
.idea/
*.code-workspace

# DOCKER
Dockerfile
docker-compose.yml
.dockerignore

# OUTROS ARQUIVOS GERADOS
api-mestra.exe
api-mestra
